// 
// Copyright (c) 2012 FadingRed LLC
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
// documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
// Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
// COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
// 

// \brief		Standard settings
// \details		These settings are shared by all configurations. They
//				are not dynamic.
// ------------------------------------------------------------------

CLANG_ENABLE_OBJC_ARC = YES
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.6
VALID_ARCHS = i386 x86_64
SDKROOT = $(DEVELOPER_SDK_DIR)/MacOSX10.7.sdk

GREENWICH_NEEDS_LIBARCHIVE = 1
GREENWICH_OTHER_LDFLAGS = $(inherited) -larchive -LExternal/libarchive
GREENWICH_OTHER_CFLAGS = $(inherited)

// \brief		Custom settings
// \details		Settings based on the dynamic configurations. If you
//				add a new setting, be sure to add a setting in the
//				section that enables them at the bottom of this file.
// ------------------------------------------------------------------


GREENWICH_CONFIG_DEBUG_ARCHS = $(NATIVE_ARCH_ACTUAL)
GREENWICH_CONFIG_RELEASE_ARCHS = $(ARCHS_STANDARD_32_64_BIT)


// \brief		Enabling customized settings
// \details		This section allows the above settings to work. It
//				uses the names of the different dynamic defines to
//				pull the customized settings that it needs.
// ------------------------------------------------------------------

ARCHS = $(GREENWICH_CONFIG_$(GREENWICH_CONFIG)_ARCHS)
